@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @keyframes animate {
    0% {
      left: 100px;
      top: 0;
    }
    80% {
      left: 0;
      top: 0;
    }
    85% {
      left: 0;
      top: -20px;
      width: 20px;
      height: 20px;
    }
    90% {
      left: 100px;
      top: -20px;
      width: 20px;
      height: 20px;
    }
    100% {
      left: 100px;
      top: 0;
    }
  }
  @keyframes animateS {
    0% {
      left: 50px;
      top: 0;
    }
    80% {
      left: 0;
      top: 0;
    }
    85% {
      left: 0;
      top: -10px;
      width: 10px;
      height: 10px;
    }
    90% {
      left: 50px;
      top: -10px;
      width: 10px;
      height: 10px;
    }
    100% {
      left: 50px;
      top: 0;
    }
  }

  .loader-color {
    @apply bg-gray-700 dark:bg-gray-300;
  }
  .animate-div-small-size {
    width: 10px;
    height: 10px;
  }
  .animate-div-large-size {
    width: 20px;
    height: 20px;
  }

  .animate-div {
    border-radius: 50%;
    position: absolute;
    animation: animate 2s linear infinite;
  }
  .animate-div-small {
    border-radius: 50%;
    position: absolute;
    animation: animateS 2s linear infinite;
  }

  .-delay-400 {
    animation-delay: -0.4s;
  }

  .-delay-800 {
    animation-delay: -0.8s;
  }

  .-delay-1200 {
    animation-delay: -1.2s;
  }

  .-delay-1600 {
    animation-delay: -1.6s;
  }
}
